body{
	font-family: '文泉驛微米黑', 'LiHei Pro', '微軟正黑體', sans-serif;
			
}

div.left.aligned.ui.icon.header{
	padding-top   : 10px;
	padding-bottom: 10px;
}

#WendyPanel{
	margin-bottom: -.82em;
}

a.ui.large.label.button{
	font-size: .5em;
	font-weight: bolder;	
}

#map{
	height: 500px;	
}

#tableList{
	border: solid 1px gray;
	height: 500px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


/* Progress Bar */
#ProgressBar div.bar{
	color: white;
}

/* Leaflet Map Legend */
.legend {
    line-height: 18px;
    color: #555;    
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}